<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>测试</title>
    <script src="/static/jquery-3.4.1.min.js"></script>
</head>
<body>
<video width="320" height="240" controls="controls" autoplay="autoplay">
    <source src="https://ksv-video-publish.cdn.bcebos.com/3974a4a8df016ff31c7c1f649b99ac2447ac9714.mp4?auth_key=1577283018-0-0-f65185f31bf6fbd3de271c6d63a02fcb"
            type="video/mp4"/>
    <source src="G:/谷歌浏览器/hh.mp4" type="video/mp4"/>
</video>
<form action="" method="post" enctype="multipart/form-data" id="myform">
    <input type="file" name="myfile">
    <br>
    <input type="submit" value="上传">
</form>
</body>
<!--{% if messages %}-->
<!--<script>-->
<!--{% for msg in messages %}-->
<!--alert('{{ msg.message }}');-->
<!--//			window.location.href='person';-->
<!--{% endfor %}-->


<!--</script>-->
<!--{% endif %}-->
</html>
